html {
  min-height: 100%;
  background-color: #AED6F1;
}
.background {
   background: url("../images/cardgames_bg.png");
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'PT Sans', sans-serif;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-gap: 2%;
  background-color: #AED6F1;
  color: #000000;
  align-items: start;
  align-content: space-around;
  justify-content: space-between;
}

.box {
	background-color: #ffffff;
    font-family: Bungee, sans-serif;
    font-size:18px;
    padding: 20px;
    border: 12px solid #156fbf;
  	border-radius: 12px;
    color:#000000;
}
.greetings{
	background-color: #156fbf;
	color: #ffffff;
  	border-radius: 5px;
  	padding: 20px;
  	font-size: 150%;
}
.aside{
  	border-radius: 12px;
  	color: #666666;
  	padding: 20px;
  	border: 12px solid #888888;
}
#navigation li {
  display: inline;   /* Make our navigation display in a line */
  text-decoration: initial; /* remove underlines from linked words */
}
#thinghead {
  /*clear: both;*/
  margin: 0.5rem 0 0;
  text-transform: uppercase;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
}
#doubleimage{
	text-align: center;
}
#image_wrap{
	text-align: center;	
}

/*h1 {
  color: #ffffff;
  font-size: 26px;
}*/

h2 {
	text-indent: 2em;
  	color: #000000;
}

nav a {
  text-decoration: initial;
  color:#0a10b1;

}
a:hover {
  color: #d9534f;
}
li {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  color:#156fbf;
}

.li2 {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: circle;
  color:#ffffff;
  font-weight: bold;
}
.li3{
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-weight: bold;	
}

header {
  background-color: #666;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-between; 
}

footer, address, p.hours {
  text-align: center;
  font-size: 14px;
  color: #000000;
  padding:10px;
}
index > p{
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}
index > p::first-letter{
	display: inline-block;
	font-size: 200%;
    color: black;
}
p {
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}
p.q_a2 {
    font-family: Bungee, sans-serif;
    font-size:20px;
    color:#000000;
}
p.white_head {
    font-family: Bungee, sans-serif;
    font-size:20px;
    color:#ffffff;
}
p.code_o {
    font-family: 'Source Code Pro', monospace;
    color:#000000;
}

ul{

}

.bordertown {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	border-style: solid;
	border-width: thick;
	color: #156fbf;
	padding:10px;
}

.bordertown_reverse {
	width:57%;
	border-style: solid;
	border-width: thick;
	color: #ffffff;
}
.bordertown_reverse_small {
	display: inline-block;
	width:47%;
	vertical-align: middle;
	border-style: solid;
	border-width: thick;
	color: #ffffff;
}

img {
	margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    width: 150px;
}
.main_center {
    display: block;
    height: 400px;
    padding:10px;
}
.center_jewels {
    display: block;
    width: 300px;
}

.doubleimg {
    display: inline-block;
    width: 100px;
    padding:10px;

}

.game {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin-left: 10%;
    margin-right: 10%;
}

.overflow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
 }

@media only screen and (max-width: 767px)  {

  body,
  #sidebar {
    font-size: 13px;
  }

  h1 {
  	font-size: 26px;
  }
}